.content {
    width: 100%;
}
.download-content {
    width: 100%;
    height: 619px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/download-bg.png');
    background-size: cover;
}
.download-title {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: "Alibaba PuHuiTi 2.0";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.download-subtitle {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: "Alibaba PuHuiTi 2.0";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
}
.download-qrcode {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.download-tip {
    width: 100%;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "PingFang SC";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}